/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 10px;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(images/peony_blue.jpeg);
}

/* Header Styles */
header {
  background-color: #9097c3;
  color: white;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav {
  background-color: #9097c3;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  text-decoration: underline;
}

.pronounce-container {
  display: flex;
  align-items: center;
}

#pronounce-container audio {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#pronounce:hover {
  text-decoration: underline;
}

.pronounce-text {
  margin-left: 10px;
  font-size: 16px;
  color: white;
  font-weight: initial;
}

.btn-mic {
  background-color: transparent;
  border: none;
  color: #4285f4;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.btn-mic:hover {
  text-decoration: underline;
}

/* Container Styles */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-around;
  padding: 20px;
  margin: 30px;
  flex: 1;
}

.box {
  background-color: #9097c3e0;
  flex-basis: calc(33.33% - 20px);
  height: 300px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

/* Footer Styles */
footer {
  background-color: #9097c3;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  font-weight: bold;
  font-size: 25px;
}

/* Media Queries */
@media (max-width: 1000px) {
  .box {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  
  .box {
    height:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-basis: 100%;
  }
  
  .box:last-child {
    margin-bottom: 20px;
  }
}
