/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 10px;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(images/peony_blue.jpeg);
}

/* Header Styles */
header {
  background-color: #9097c3;
  color: white;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: solid 10px #384068;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
}


nav {
  background-color: #9097c3;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding:20px;
  border: solid 8px #384068;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row; /* Change flex-direction to row */
  justify-content: center; /* Add justify-content center */
  align-items: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  text-decoration: underline;
}

/* .pronounce-container {
  display: flex;
  align-items: center;
} */

#pronounce-container audio {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#pronounce:hover {
  text-decoration: underline;
}

.pronounce-text {
  margin-left: 10px;
  font-size: 16px;
  color: white;
  font-weight: initial;
}

.btn-mic {
  background-color: transparent;
  border: none;
  color: #4285f4;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.btn-mic:hover {
  text-decoration: underline;
}

/* Container Styles */
.container {
  flex-wrap: wrap;
  flex-direction: column row-reverse;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 20px;
  margin: 30px;
  flex: 1;
  font-size: 20px;
  font-style: italic;
  color: antiquewhite;
}


h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: bold;
}

.box {
  background-color: #9097c3e0;
  flex-basis: calc(25% - 20px);
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  border: solid #384068 12px;
  align-items: flex-start;

}

.box p {
  margin: 10px 0;
  line-height: 1.5;
}

.box ul {
  padding-left: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Footer Styles */
footer {
  background-color: #9097c3;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  border: solid 10px #384068;
}

@media (max-width: 768px) {
  .container {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
  }
  .box {
    flex-basis: calc(50% - 20px);
  }
}
